@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 248.5714 10.8808% 37.8431%;
    --card: 0 0% 100%;
    --card-foreground: 248.5714 10.8808% 37.8431%;
    --popover: 240 10.3448% 88.6275%;
    --popover-foreground: 248.5714 10.8808% 37.8431%;
    --primary: 279.2727 56.7010% 61.9608%;
    --primary-foreground: 0 0% 100%;
    --secondary: 240 10.3448% 88.6275%;
    --secondary-foreground: 248.5714 10.8808% 37.8431%;
    --muted: 240 15.3846% 94.9020%;
    --muted-foreground: 246.6667 7.1429% 50.5882%;
    --accent: 220.0000 33.0144% 40.9804%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0.4286 58.3333% 47.0588%;
    --destructive-foreground: 0 0% 100%;
    --border: 240 8.8889% 82.3529%;
    --input: 240 10.3448% 88.6275%;
    --ring: 279.2727 56.7010% 61.9608%;
    --chart-1: 279.2727 56.7010% 61.9608%;
    --chart-2: 210.1863 64.6586% 48.8235%;
    --chart-3: 122.1429 38.5321% 42.7451%;
    --chart-4: 34.8000 66.3717% 55.6863%;
    --chart-5: 23.7931 39.7260% 71.3725%;
    --sidebar: 240 25.0000% 98.4314%;
    --sidebar-foreground: 248.5714 10.8808% 37.8431%;
    --sidebar-primary: 279.2727 56.7010% 61.9608%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 210.1863 64.6586% 48.8235%;
    --sidebar-accent-foreground: 0 0% 100%;
    --sidebar-border: 240 8.8889% 82.3529%;
    --sidebar-ring: 279.2727 56.7010% 61.9608%;
    --font-sans: Inter, sans-serif;
    --font-serif: Inter, sans-serif;
    --font-mono: Inter, sans-serif;
    --radius: 0.35rem;
    --shadow-2xs: 0px 4px 6px 0px hsl(251.1111 19.7080% 26.8627% / 0.06);
    --shadow-xs: 0px 4px 6px 0px hsl(251.1111 19.7080% 26.8627% / 0.06);
    --shadow-sm: 0px 4px 6px 0px hsl(251.1111 19.7080% 26.8627% / 0.12), 0px 1px 2px -1px hsl(251.1111 19.7080% 26.8627% / 0.12);
    --shadow: 0px 4px 6px 0px hsl(251.1111 19.7080% 26.8627% / 0.12), 0px 1px 2px -1px hsl(251.1111 19.7080% 26.8627% / 0.12);
    --shadow-md: 0px 4px 6px 0px hsl(251.1111 19.7080% 26.8627% / 0.12), 0px 2px 4px -1px hsl(251.1111 19.7080% 26.8627% / 0.12);
    --shadow-lg: 0px 4px 6px 0px hsl(251.1111 19.7080% 26.8627% / 0.12), 0px 4px 6px -1px hsl(251.1111 19.7080% 26.8627% / 0.12);
    --shadow-xl: 0px 4px 6px 0px hsl(251.1111 19.7080% 26.8627% / 0.12), 0px 8px 10px -1px hsl(251.1111 19.7080% 26.8627% / 0.12);
    --shadow-2xl: 0px 4px 6px 0px hsl(251.1111 19.7080% 26.8627% / 0.30);
  }
  
  .dark {
    --background: 253.3333 13.8462% 12.7451%;
    --foreground: 240 44.8276% 94.3137%;
    --card: 250.9091 13.5802% 15.8824%;
    --card-foreground: 240 44.8276% 94.3137%;
    --popover: 244 8.7719% 33.5294%;
    --popover-foreground: 240 44.8276% 94.3137%;
    --primary: 281.0526 55.8824% 86.6667%;
    --primary-foreground: 250.9091 13.5802% 15.8824%;
    --secondary: 246.6667 8.4112% 41.9608%;
    --secondary-foreground: 240 44.8276% 94.3137%;
    --muted: 244.2857 12.9630% 21.1765%;
    --muted-foreground: 243.1579 15.9664% 76.6667%;
    --accent: 202.2222 48.2143% 78.0392%;
    --accent-foreground: 250.9091 13.5802% 15.8824%;
    --destructive: 356.7273 54.4554% 80.1961%;
    --destructive-foreground: 250.9091 13.5802% 15.8824%;
    --border: 249.2308 10.4000% 24.5098%;
    --input: 249.2308 10.4000% 24.5098%;
    --ring: 281.0526 55.8824% 86.6667%;
    --chart-1: 281.0526 55.8824% 86.6667%;
    --chart-2: 202.2222 48.2143% 78.0392%;
    --chart-3: 128.5714 36.8421% 81.3725%;
    --chart-4: 36.0000 61.2245% 80.7843%;
    --chart-5: 24 38.4615% 97.4510%;
    --sidebar: 248.5714 13.7255% 10%;
    --sidebar-foreground: 240 44.8276% 94.3137%;
    --sidebar-primary: 281.0526 55.8824% 86.6667%;
    --sidebar-primary-foreground: 250.9091 13.5802% 15.8824%;
    --sidebar-accent: 202.2222 48.2143% 78.0392%;
    --sidebar-accent-foreground: 250.9091 13.5802% 15.8824%;
    --sidebar-border: 244 8.7719% 33.5294%;
    --sidebar-ring: 281.0526 55.8824% 86.6667%;
    --font-sans: Inter, sans-serif;
    --font-serif: Inter, sans-serif;
    --font-mono: Inter, sans-serif;
    --radius: 0.35rem;
    --shadow-2xs: 0px 4px 6px 0px hsl(251.1111 19.7080% 26.8627% / 0.06);
    --shadow-xs: 0px 4px 6px 0px hsl(251.1111 19.7080% 26.8627% / 0.06);
    --shadow-sm: 0px 4px 6px 0px hsl(251.1111 19.7080% 26.8627% / 0.12), 0px 1px 2px -1px hsl(251.1111 19.7080% 26.8627% / 0.12);
    --shadow: 0px 4px 6px 0px hsl(251.1111 19.7080% 26.8627% / 0.12), 0px 1px 2px -1px hsl(251.1111 19.7080% 26.8627% / 0.12);
    --shadow-md: 0px 4px 6px 0px hsl(251.1111 19.7080% 26.8627% / 0.12), 0px 2px 4px -1px hsl(251.1111 19.7080% 26.8627% / 0.12);
    --shadow-lg: 0px 4px 6px 0px hsl(251.1111 19.7080% 26.8627% / 0.12), 0px 4px 6px -1px hsl(251.1111 19.7080% 26.8627% / 0.12);
    --shadow-xl: 0px 4px 6px 0px hsl(251.1111 19.7080% 26.8627% / 0.12), 0px 8px 10px -1px hsl(251.1111 19.7080% 26.8627% / 0.12);
    --shadow-2xl: 0px 4px 6px 0px hsl(251.1111 19.7080% 26.8627% / 0.30);
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  main {
    flex-grow: 1;
  }
}
